@import "custom-variables";


$teal: #507075;
$vantiv-blue: #00a9e0;
$grey-black: #2c2c2c;
$height: 300px;
$light-grey: #8b8c8d;
$even-lighter-grey: #dee7ef;
$donut-width: 50%;

.fill-brand-info{
  fill: $brand-info;
}
.fill-gray{
  fill: $gray;
}
.fill-danger{
  fill: $brand-danger;
}
.fill-success{
  fill: $brand-success;
}
.fill-warning{
  fill: $brand-warning;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size: 14px
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
/* donut */
//title font inside donut
.inside {
  font-family: 'Source Sans Pro', sans-serif;
  fill: $vantiv-blue;
  font-size:40px;
}
//data portion of inside text
.data{
  fill: $grey-black;
  font-size: 64px;
}
svg.svg-content-responsive-pie{
  display: block;
  margin: auto;
  width: $donut-width;
  height: $donut-width;
  padding: 2%;
  overflow: visible;
}

/* smooth line graph*/
#chartsmoothlineid .area{
  fill-opacity: 0.8;
}
.padding{
  padding: 2% 2% 5% 7%;
}
.axis path,
.axis line {
  fill: none;
  stroke: $light-grey;
  opacity: 0.1;
  shape-rendering: crispEdges;
}



/*.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: auto;
}*/

svg.svg-container {
  width: 100%;
  max-width: 1250px;
  vertical-align: top;
  overflow: visible;
}

g.x.axis, g.y.axis{
  font-size: 6px;
  fill: $light-grey;
}