.statepath {
  fill-opacity: .2;
  stroke: gray;
  stroke-width: 1px;
}

.countypath {
  fill-opacity: .8;
  stroke: black;
  stroke-width: 1px;
}

.lowSales {
  fill: $brand-danger;
}

.avgSales {
  fill: $brand-info;
}

.highSales {
  fill: $brand-success;
}

.countypath:hover {
  fill-opacity: .3;
}

.mapTooltip {
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    pointer-events: none;
}

.hidden {
  display: none;
}

.mapTooltip th, .mapTooltip td {
  padding: 10px;
}

.mapTooltip tr:nth-child(even) {
  background-color: lightgray;
}

#mapContainer {
  min-height: 90%;
}
