@import "custom-variables";
// Custom style for the sidebar navigation menu


//** Page-header **//
//
// The custom styling for the header of the sidebar navigation menu
// Extended from the Bootstrap page-header class
.page-header {
  color: $white;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  height: 17px;
  line-height: 0.47;
  border: none;
  text-align: left;
  margin: 23px 40px 48px;
  white-space: nowrap;
  background: $gray-darker;
}


/* Sidebar Styles */
.list-group {
  background-color: $gray-darker;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

//** List-group-item **//
//
// Extended class from Bootstrap, list-group-item used for
// a list of items with associated icons in the sidebar navigation
.list-group-item {
  height: 55px;
}

a.list-group-item {
  line-height: 0.56;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  padding-left: 40px;
}

